<!-- HERO -->
<div class="hero">
  <div class="hero__container _container">
    <div class="hero__img _img">
      <img src="assets/hero/hero.jpg" alt="Main Hero Image" />
    </div>
    <div class="hero__content">
      <div class="hero__heading heading">
        <h1 class="heading__text">
          <span class="_highlight">Преврати свою бизнес-мечту в</span>
          реальность с нами!
        </h1>
      </div>
      <div class="hero__paragraph paragraph">
        <p class="paragraph__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="hero__action action">
        <a [routerLink]="['contact-us']" class="action__button"
          >Начать сейчас</a
        >
      </div>
    </div>
  </div>
</div>
