<div class="header">
  <div class="header__container">
    <div class="header__logo" (click)="closeNav()">
      <a [routerLink]="['/']">
        <img src="assets/icons/logo.svg" alt="StartApp Logo Icon"
      /></a>
    </div>
    <div class="header__menu">
      <div class="header__burger" (click)="toggleNav()">
        <img src="assets/icons/menu.svg" alt="Header Menu Icon" />
      </div>
      <div class="header__close" (click)="toggleNav()">
        <div class="heading">
          <span class="heading__text-4">Закрыть</span>
        </div>
        <img src="assets/icons/close.svg" alt="Header Menu Icon" />
      </div>
    </div>
  </div>

  <!-- MENU BURGER -->
  <div class="menu">
    <div class="menu__container _container">
      <ul class="menu__items">
        <li class="menu__item heading">
          <a class="heading__text-4" (click)="scrollToFragment('hero')"
            >Основной экран</a
          >
        </li>
        <li class="menu__item heading">
          <a class="heading__text-4" (click)="scrollToFragment('pain')"
            >Стандартные технологий</a
          >
        </li>
        <li class="menu__item heading">
          <a class="heading__text-4" (click)="scrollToFragment('services')"
            >Как мы работаем</a
          >
        </li>
        <li class="menu__item heading">
          <a class="heading__text-4" (click)="scrollToFragment('why')"
            >Почему выбирают нас</a
          >
        </li>
        <li class="menu__item heading">
          <a class="heading__text-4" (click)="scrollToFragment('expect')"
            >Результаты от нашей работы</a
          >
        </li>
        <li class="menu__item">
          <div class="action">
            <a
              class="action__button action__button_notrounded"
              (click)="scrollToFragment('action')"
              >Записаться</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
