.action__container > *:not(:last-child) {
  margin-bottom: 17px;
}
.action__heading {
  color: var(--primary-2);
}
.timer .action__paragraph {
  text-transform: uppercase;
  font-weight: 500;
}
.action__paragraph {
  max-width: 253px;
  margin: 0 auto;
  font-weight: 500;
}
.action__paragraph_width {
  max-width: 305px;
}
.action__price .action__heading:nth-child(1) {
  text-decoration: line-through;
}
