<!-- CALL TO ACTION -->
<div id="action" class="action">
  <div class="action__container _container">
    <div class="action__heading heading heading_margin heading_center">
      <div class="heading__text">Специально!</div>
    </div>

    <app-timer (newItemEvent)="getDays($event)"></app-timer>

    <div class="action__paragraph paragraph">
      <p class="paragraph__text paragraph__text_center">
        Только 14 дней, в знак нашего запуска, мы предоставляем акцию “Сайт по
        цене блендера”!
      </p>
    </div>

    <div class="action__price">
      <div class="action__heading heading heading_center">
        <div class="heading__text-3">150 тысячи тенге</div>
      </div>
      <div class="action__heading heading heading_center">
        <div class="heading__text">50 тысячи тенге</div>
      </div>
    </div>
    <div class="action__paragraph action__paragraph_width paragraph">
      <p class="paragraph__text paragraph__text_center">
        Зная то, что вы ничего не теряете, успейте
        <strong>получить</strong> первую страницу вашего сайта
        <strong>бесплатно</strong> и забронировать место по акции уже сейчас.
      </p>
    </div>

    <div class="action__action action action_center">
      <a [routerLink]="['/contact-us']" class="action__button">Забронировать</a>
    </div>
  </div>
</div>
