<!-- CALL TO ACTION -->
<div id="action" class="action">
  <div class="action__container _container">
    <div class="action__heading heading heading_margin heading_center">
      <div class="heading__text">Специально!</div>
    </div>

    <app-timer></app-timer>

    <div class="action__paragraph paragraph">
      <p class="paragraph__text paragraph__text_center">
        Наша новая услуга готова предложить вам качественный сайт без Tilda по
        специальной цене, всего за
      </p>
    </div>
    
    <div class="action__price">
      <div class="action__heading heading heading_center">
        <div class="heading__text-3">75990 тенге</div>
      </div>
      <div class="action__heading heading heading_center">
        <div class="heading__text">37990 тенге</div>
      </div>
    </div>
    <div class="action__paragraph action__paragraph_width paragraph">
      <p class="paragraph__text paragraph__text_center">
        Успейте забронировать место уже сегодня и получите первую страницу
        вашего сайта абсолютно бесплатно уже через 14 дней. Оставьте заявку ниже
        и начнем работу!
      </p>
    </div>

    <div class="action__action action action_center">
      <a [routerLink]="['/contact-us']" class="action__button"
        >Оставить заявку</a
      >
    </div>
  </div>
</div>
