<!-- CALL TO ACTION -->
<div class="action">
  <div class="action__container _container">
    <div class="action__heading heading heading_margin heading_center">
      <div class="heading__subtext">
        Давай вместе превратим твою мечту в реальность
      </div>
      <div class="heading__text">Не жди, начни сейчас!</div>
    </div>
    <div class="action__paragraph paragraph">
      <div class="paragraph__text paragraph__text_center">
        Запишись на консультацию уже сегодня и начни свой путь к свободе и
        успеху в бизнесе!
      </div>
    </div>
    <div class="action__action action action_center">
      <a [routerLink]="['contact-us']" class="action__button">Записаться</a>
    </div>
  </div>
</div>
