<!-- FOOTER -->
<footer class="footer">
  <div class="footer__scroll _img">
    <img src="assets/icons/scroll_up.png" alt="Scroll Up" />
  </div>
  <div class="footer__container _container">
    <div class="footer__header heading">
      <h1 class="heading__text">Контакты</h1>
    </div>
    <div class="footer__paragraph paragraph">
      <div class="paragraph__text paragraph__text_small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
    <div class="heading">
      <div class="heading__text-3">+77010130895</div>
    </div>
    <div class="footer__logo">
      <img src="assets/icons/logo.svg" alt="Footer Logo" />
    </div>
    <div class="footer__paragraph paragraph footer__paragraph_legacy">
      <div class="paragraph__text">2024. Все права защищены</div>
    </div>
  </div>
</footer>
