<!-- WHY ME -->
<div id="why" class="why">
  <div class="why__container _container">
    <div class="why__heading heading heading_center">
      <h1 class="heading__text">Почему вы должны доверять нам</h1>
    </div>

    <ul class="why__carts carts">
      <li class="carts__item">
        <div class="carts__header heading">
          <div class="carts__number heading__text-0">1</div>
          <div class="carts__title heading__text-3">Мы стараемся больше</div>
        </div>
        <div class="carts__paragraph paragraph">
          <div class="paragraph__text">
            Мы нацелены на то, чтобы вы получили сайт высокого качества, и
            поддержку нашей команды на каждом этапе сотрудничества.
          </div>
        </div>
      </li>
      <li class="carts__item">
        <div class="carts__header heading">
          <div class="carts__number heading__text-0">2</div>
          <div class="carts__title heading__text-3">
            Начинаем только свою работу
          </div>
        </div>
        <div class="carts__paragraph paragraph">
          <div class="paragraph__text">
            Мы хотим больше красивых сайтов в нашем интернет просторе. Поэтому,
            готовы на это вкладываться развивая уровень насмотренности наших
            жителей.
          </div>
        </div>
      </li>
      <li class="carts__item">
        <div class="carts__header heading">
          <div class="carts__number heading__text-0">3</div>
          <div class="carts__title heading__text-3">
            Нацелены на долгую игру
          </div>
        </div>
        <div class="carts__paragraph paragraph">
          <div class="paragraph__text">
            Учитывая это, мы предлагаем очень конкурентоспособные цены и готовы
            подтвердить наши силы сделав вас бесплатно первую страницу вашего
            сайта.
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
