<!-- WHY ME -->
<div class="why">
  <div class="why__container _container">
    <div class="why__heading heading heading_center">
      <h1 class="heading__text">Почему выбирают нас</h1>
    </div>

    <ul class="why__carts carts">
      <li class="carts__item">
        <div class="carts__header heading">
          <div class="carts__number heading__text-0">1</div>
          <div class="carts__title heading__text-3">
            Результаты через 2 недели
          </div>
        </div>
        <div class="carts__paragraph paragraph">
          <div class="paragraph__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
      </li>
      <li class="carts__item">
        <div class="carts__header heading">
          <div class="carts__number heading__text-0">2</div>
          <div class="carts__title heading__text-3">
            Максимальный успех идеи
          </div>
        </div>
        <div class="carts__paragraph paragraph">
          <div class="paragraph__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
      </li>
      <li class="carts__item">
        <div class="carts__header heading">
          <div class="carts__number heading__text-0">3</div>
          <div class="carts__title heading__text-3">
            Экспертный анализ. Обзвоны клиентов
          </div>
        </div>
        <div class="carts__paragraph paragraph">
          <div class="paragraph__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
      </li>
      <li class="carts__item">
        <div class="carts__header heading">
          <div class="carts__number heading__text-0">4</div>
          <div class="carts__title heading__text-3">
            Обучение. Отчетности. Конверсии
          </div>
        </div>
        <div class="carts__paragraph paragraph">
          <div class="paragraph__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
