<div class="timer">
  <div class="timer__inner">
    <div class="timer__item">
      <div class="action__heading heading">
        <div class="heading__text">{{ remainingTime.days }}</div>
      </div>
      <div class="action__paragraph paragraph">
        <p class="paragraph__text">Дня</p>
      </div>
    </div>
    <div class="timer__item">
      <div class="action__heading heading">
        <div class="heading__text">{{ remainingTime.hours }}</div>
      </div>
      <div class="action__paragraph paragraph">
        <p class="paragraph__text">Часов</p>
      </div>
    </div>
    <div class="timer__item">
      <div class="action__heading heading">
        <div class="heading__text">{{ remainingTime.minutes }}</div>
      </div>
      <div class="action__paragraph paragraph">
        <p class="paragraph__text">Минут</p>
      </div>
    </div>
    <div class="timer__item">
      <div class="action__heading heading">
        <div class="heading__text">{{ remainingTime.seconds }}</div>
      </div>
      <div class="action__paragraph paragraph">
        <p class="paragraph__text">Секунд</p>
      </div>
    </div>
  </div>
</div>
