<div id="hero" class="hero">
  <div class="hero__container _container">
    <div class="hero__img _img">
      <img src="assets/hero/hero.jpg" alt="Main Hero Image" />
    </div>
    <div class="hero__content">
      <div class="hero__heading heading">
        <h1 class="heading__text">Создание сайтов для продукта под ключ</h1>
      </div>
      <div class="hero__paragraph paragraph">
        <p class="paragraph__text">
          Заполните форму и получите бесплатный дизайн главной страницы вашего
          сайта после нашего созвона
        </p>
      </div>
      <div class="hero__action action">
        <a [routerLink]="['/contact-us']" class="action__button"
          >Начать сейчас</a
        >
      </div>
    </div>
  </div>
</div>
