<div id="hero" class="hero">
  <div class="hero__container _container">
    <div class="hero__img _img">
      <img src="assets/hero/hero.jpg" alt="Main Hero Image" />
    </div>
    <div class="hero__content">
      <div class="hero__heading heading">
        <h1 class="heading__text">
          Создание сайтов без Tilda для эффективного маркетинга
        </h1>
      </div>
      <div class="hero__paragraph paragraph">
        <p class="paragraph__text">
          Заполните форму, и уже после созвона получите бесплатный дизайн
          главной страницы вашего сайта
        </p>
      </div>
      <div class="hero__action action">
        <a [routerLink]="['contact-us']" class="action__button"
          >Начать сейчас</a
        >
      </div>
    </div>
  </div>
</div>
