<!-- EXPECTATIONS -->
<div id="expect" class="expect">
  <div class="expect__container _container">
    <div class="expect__header heading heading_center">
      <h2 class="heading__text">Что вы получите от нашего сотрудничества</h2>
    </div>
    <ul class="expect__carts">
      <li class="expect__item">
        <div class="expect__img _img">
          <img
            src="assets/expectations/exp-1.jpg"
            alt="Expectation Cart Image 1"
          />
        </div>
        <div class="expect__content">
          <div class="heading">
            <h3 class="heading__text-4">
              Эстетичный дизайн в стиле минимализма
            </h3>
          </div>
          <div class="expect__paragraph paragraph">
            <p class="paragraph__text">
              Мы подберем цветовую гамму, отражающий ваш продукт, под вашу
              целевую аудиторию.
            </p>
          </div>
        </div>
      </li>
      <li class="expect__item">
        <div class="expect__img _img">
          <img
            src="assets/expectations/exp-2.jpg"
            alt="Expectation Cart Image 2"
          />
        </div>
        <div class="expect__content">
          <div class="heading">
            <h3 class="heading__text-4">Увеличит узнаваемость вашего бренда</h3>
          </div>
          <div class="expect__paragraph paragraph">
            <p class="paragraph__text">
              Из за красивого сочетание гаммы цветов и вашего продукта, вашим
              клиентам будет безумно приятно посещать ваш сайт.
            </p>
          </div>
        </div>
      </li>
      <li class="expect__item">
        <div class="expect__img _img">
          <img
            src="assets/expectations/exp-3.jpg"
            alt="Expectation Cart Image 3"
          />
        </div>
        <div class="expect__content">
          <div class="heading">
            <h3 class="heading__text-4">Повышение лояльность потребителей</h3>
          </div>
          <div class="expect__paragraph paragraph">
            <p class="paragraph__text">
              Существование вашего лендинга, сайта в интернете повысит доверие
              ваших покупателей к вам.
            </p>
          </div>
        </div>
      </li>
      <li class="expect__item">
        <div class="expect__img _img">
          <img
            src="assets/expectations/exp-4.jpg"
            alt="Expectation Cart Image 4"
          />
        </div>
        <div class="expect__content">
          <div class="heading">
            <h3 class="heading__text-4">Рост охвата</h3>
          </div>
          <div class="expect__paragraph paragraph">
            <p class="paragraph__text">
              Безусловно, сайты это хороший инструмент для того чтобы
              познакомить ваш бренд и товар широкой публике, и получить охват.
              Мы об этом позаботимся.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
