<!-- EXPECTATIONS -->
<div id="expect" class="expect">
  <div class="expect__container _container">
    <div class="expect__header heading heading_center">
      <h2 class="heading__text">Результаты от нашей работы</h2>
    </div>
    <ul class="expect__carts">
      <li class="expect__item">
        <div class="expect__img _img">
          <img
            src="assets/expectations/exp-1.jpg"
            alt="Expectation Cart Image 1"
          />
        </div>
        <div class="expect__content">
          <div class="heading">
            <h3 class="heading__text-4">Цвета под целевую аудиторию</h3>
          </div>
          <div class="expect__paragraph paragraph">
            <p class="paragraph__text">
              Мы подберем цветовую гамму, которая точно отразит вашу целевую
              аудиторию и поможет привлечь новых клиентов.
            </p>
          </div>
        </div>
      </li>
      <li class="expect__item">
        <div class="expect__img _img">
          <img
            src="assets/expectations/exp-2.jpg"
            alt="Expectation Cart Image 2"
          />
        </div>
        <div class="expect__content">
          <div class="heading">
            <h3 class="heading__text-4">
              Текст подточенный именно под вашего клиента
            </h3>
          </div>
          <div class="expect__paragraph paragraph">
            <p class="paragraph__text">
              Ваш текст будет адаптирован под интересы и потребности вашей
              аудитории, что сделает ваш сайт более привлекательным и
              эффективным.
            </p>
          </div>
        </div>
      </li>
      <li class="expect__item">
        <div class="expect__img _img">
          <img
            src="assets/expectations/exp-3.jpg"
            alt="Expectation Cart Image 3"
          />
        </div>
        <div class="expect__content">
          <div class="heading">
            <h3 class="heading__text-4">
              Даже первая бесплатная главная страница адаптивная
            </h3>
          </div>
          <div class="expect__paragraph paragraph">
            <p class="paragraph__text">
              Мы предоставляем вам адаптивный дизайн главной страницы уже на
              первом этапе работы, чтобы вы могли увидеть результаты и оценить
              его эффективность.
            </p>
          </div>
        </div>
      </li>
      <li class="expect__item">
        <div class="expect__img _img">
          <img
            src="assets/expectations/exp-4.jpg"
            alt="Expectation Cart Image 4"
          />
        </div>
        <div class="expect__content">
          <div class="heading">
            <h3 class="heading__text-4">
              Четко подобренные картины, или сгенерированные под искусственный
              интеллект
            </h3>
          </div>
          <div class="expect__paragraph paragraph">
            <p class="paragraph__text">
              Мы используем профессиональные изображения, которые привлекают
              внимание и соответствуют вашему бренду и сообщению.
            </p>
          </div>
        </div>
      </li>
      <li class="expect__item">
        <div class="expect__img _img">
          <img
            src="assets/expectations/exp-5.jpg"
            alt="Expectation Cart Image 5"
          />
        </div>
        <div class="expect__content">
          <div class="heading">
            <h3 class="heading__text-4">
              Не Будет логотипа Tilda в подвале вашего сайта
            </h3>
          </div>
          <div class="expect__paragraph paragraph">
            <p class="paragraph__text">
              Мы гарантируем, что ваш сайт будет выглядеть уникально и
              профессионально, без лишней рекламы или шаблонов.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
