<div id="pain" class="pain">
  <div class="pain__container _container">
    <div class="pain__heading heading heading_margin heading_center">
      <h2 class="heading__text">Cтандартные технологии</h2>
    </div>
    <div class="pain__content">
      <div class="pain__content-inner">
        <div class="heading">
          <div class="heading__text-4">Почему это важно</div>
        </div>
        <div class="paragraph">
          <p class="paragraph__text">
            Когда дело касается создания вашего веб-присутствия, мы рекомендуем
            выбирать стандартные технологии, такие как HTML/CSS/JS и фреймворки,
            вместо платформы Tilda. Стандартные технологии обеспечивают вашему
            сайту
          </p>
        </div>
        <ul class="pain__list">
          <li class="pain__item">
            <span class="pain__number">01</span>
            <div class="pain__item-text">Гибкость</div>
          </li>
          <li class="pain__item">
            <span class="pain__number">02</span>
            <div class="pain__item-text">Уникальный дизайн</div>
          </li>
          <li class="pain__item">
            <span class="pain__number">03</span>
            <div class="pain__item-text">
              Лучшую оптимизацию для поисковых систем
            </div>
          </li>
          <li class="pain__item">
            <span class="pain__number">04</span>
            <div class="pain__item-text">
              Больше функциональных возможностей
            </div>
          </li>
          <li class="pain__item">
            <span class="pain__number">05</span>
            <div class="pain__item-text">Лучший пользовательский опыт</div>
          </li>
        </ul>
        <div class="paragraph">
          <p class="paragraph__text">
            Выбирая стандартные технологии вместо Tilda, вы получаете
            преимущества перед конкурентами, будете привлекать и удерживать
            больше клиентов, что поможет развитию вашего дела.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
