<div id="pain" class="pain">
  <div class="pain__container _container">
    <div class="pain__heading heading heading_margin heading_center">
      <h2 class="heading__text">Мы понимаем</h2>
    </div>
    <div class="pain__content">
      <div class="pain__content-inner">
        <div class="paragraph">
          <p class="paragraph__text">
            Мы осознаем, что на рынке сложно найти подрядчика, которому можно
            доверить создание сайта с соблюдением сроков и качества. Еще хуже,
            если ваш заказ окажется не в приоритете.
          </p>
        </div>
        <div class="pain__subheading heading">
          <div class="heading__text-4">Почему это важно</div>
        </div>
        <div class="paragraph">
          <p class="paragraph__text">Мы - новый проект, который ценит:</p>
        </div>
        <ul class="pain__list">
          <li class="pain__item">
            <span class="pain__number">01</span>
            <div class="pain__item-text">Эстетичность</div>
          </li>
          <li class="pain__item">
            <span class="pain__number">02</span>
            <div class="pain__item-text">Сервис</div>
          </li>
          <li class="pain__item">
            <span class="pain__number">03</span>
            <div class="pain__item-text">Результат</div>
          </li>
        </ul>
        <div class="paragraph">
          <p class="paragraph__text">
            Поскольку мы только запустились, и стремимся рости - мы стараемся
            больше!
          </p>
        </div>
        <div class="paragraph">
          <p class="paragraph__text">
            Поэтому вы будете уверены что получите эстетичный сайт, который
            будет показывать пользу вашего продукта вашему же покупателю.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
