<!-- EXPECTATIONS -->
<div class="expect">
  <div class="expect__container _container">
    <div class="expect__header heading heading_center">
      <h2 class="heading__text">Что можешь ожидать в конце</h2>
    </div>
    <ul class="expect__carts">
      <li class="expect__item">
        <div class="expect__img _img">
          <img
            src="assets/expectations/exp-1.jpg"
            alt="Expectation Cart Image 1"
          />
        </div>
        <div class="expect__content">
          <div class="heading">
            <h3 class="heading__text-4">Реализация основ идеи</h3>
          </div>
          <div class="expect__paragraph paragraph">
            <p class="paragraph__text">
              Предварительная реализация своей идеи не теряя свою позицию на
              наемной работе.
            </p>
          </div>
        </div>
      </li>
      <li class="expect__item">
        <div class="expect__img _img">
          <img
            src="assets/expectations/exp-2.jpg"
            alt="Expectation Cart Image 2"
          />
        </div>
        <div class="expect__content">
          <div class="heading">
            <h3 class="heading__text-4">Первичные продажи продукта</h3>
          </div>
          <div class="expect__paragraph paragraph">
            <p class="paragraph__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </li>
      <li class="expect__item">
        <div class="expect__img _img">
          <img
            src="assets/expectations/exp-3.jpg"
            alt="Expectation Cart Image 3"
          />
        </div>
        <div class="expect__content">
          <div class="heading">
            <h3 class="heading__text-4">Трехдневные отсчеты</h3>
          </div>
          <div class="expect__paragraph paragraph">
            <p class="paragraph__text">Документы об оценки перспективы идеи</p>
          </div>
        </div>
      </li>
      <li class="expect__item">
        <div class="expect__img _img">
          <img
            src="assets/expectations/exp-4.jpg"
            alt="Expectation Cart Image 4"
          />
        </div>
        <div class="expect__content">
          <div class="heading">
            <h3 class="heading__text-4">Опыт выведение продукта</h3>
          </div>
          <div class="expect__paragraph paragraph">
            <p class="paragraph__text">Знание как выводить продукт на рынок.</p>
          </div>
        </div>
      </li>
      <li class="expect__item">
        <div class="expect__img _img">
          <img
            src="assets/expectations/exp-5.jpg"
            alt="Expectation Cart Image 5"
          />
        </div>
        <div class="expect__content">
          <div class="heading">
            <h3 class="heading__text-4">Повышение успеха</h3>
          </div>
          <div class="expect__paragraph paragraph">
            <p class="paragraph__text">Увеличение вероятности успеха</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
