<!-- PAIN -->
<div class="pain">
  <div class="pain__image _img">
    <img src="assets/pain/pain.jpg" alt="Pain Section Background Image" />
  </div>
  <div class="pain__container _container">
    <div class="pain__heading heading heading_margin heading_center">
      <div class="heading__subtext">Страх перед неизвестностью</div>
      <h2 class="heading__text">
        главное препятствие на пути к своему бизнесу
      </h2>
    </div>
    <div class="pain__paragraph paragraph">
      <p class="paragraph__text paragraph__text_center">
        Многие как ты мечтают о собственном бизнесе, но страх перед неудачей
        заставляет их оставаться на месте. Мы предлагаем решение: проверить твою
        бизнес-идею через нашу уникальную методику, минимизируя риски и
        увеличивая шансы на успех.
      </p>
    </div>
  </div>
</div>
