<!-- OUR SERVICES -->
<div id="services" class="services">
  <div class="services__container _container">
    <div class="services__header heading heading_center">
      <h2 class="heading__text">5 ступеней Как мы работаем</h2>
    </div>
    <div class="services__carts">
      <ul class="services__carts-inner">
        <li class="services__item">
          <div class="services__inner">
            <div class="services__img _img">
              <img src="assets/services/cart-1.jpg" alt="Services Cart 1" />
            </div>
            <div class="services__content">
              <div class="services__title heading">
                <h3 class="services__title-heading heading__text-3">
                  Обработаем вашу заявку
                </h3>
              </div>
              <div class="services__paragraph paragraph">
                <p class="paragraph__text">
                  После того, как мы поймем что ваш продукт, уже завтра сделаем
                  вам бесплатно красивую главную страницу вашего сайта.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="services__inner">
            <div class="services__img _img">
              <img src="assets/services/cart-2.jpg" alt="Services Cart 2" />
            </div>
            <div class="services__content">
              <div class="services__title heading">
                <h3 class="services__title-heading heading__text-3">
                  Согласовываем по этапам
                </h3>
              </div>
              <div class="services__paragraph paragraph">
                <p class="paragraph__text">
                  Определимся по дате, блокам сайта, и выберем для вас самую
                  оптимальную цену.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="services__inner">
            <div class="services__img _img">
              <img src="assets/services/cart-3.jpg" alt="Services Cart 3" />
            </div>
            <div class="services__content">
              <div class="services__title heading">
                <h3 class="services__title-heading heading__text-3">
                  Подготовим эстетичный дизайн на Figma
                </h3>
              </div>
              <div class="services__paragraph paragraph">
                <p class="paragraph__text">
                  Мы за качество. Поэтому соберем для вас, и вашей аудиторий
                  лучший дизайн, использую западные стандарты подстроив под наш
                  рынок Казахстана.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="services__inner">
            <div class="services__img _img">
              <img src="assets/services/cart-4.jpg" alt="Services Cart 4" />
            </div>
            <div class="services__content">
              <div class="services__title heading">
                <h3 class="services__title-heading heading__text-3">
                  Нюансы обговариваем сразу
                </h3>
              </div>
              <div class="services__paragraph paragraph">
                <p class="paragraph__text">
                  Мы придерживаемся принципа “прочного фундамента”, и детали
                  обговариваем сразу, и все нюансы исключаем до этапа
                  разработки.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="services__inner">
            <div class="services__img _img">
              <img src="assets/services/cart-5.jpg" alt="Services Cart 4" />
            </div>
            <div class="services__content">
              <div class="services__title heading">
                <h3 class="services__title-heading heading__text-3">
                  Реализация вашего сайта
                </h3>
              </div>
              <div class="services__paragraph paragraph">
                <p class="paragraph__text">
                  После всех предварительных этапов, разрабатываем ваш готовый
                  качественный сайт. Выведем его в интернет, чтобы вы сразу
                  смогли привлекать ваших новых клиентов.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="services__header heading heading_center">
      <h2 class="heading__text">И все это всего за 5 дней!</h2>
    </div>
  </div>
</div>
