<!-- OUR SERVICES -->
<div class="services">
  <div class="services__container _container">
    <div class="services__header heading heading_center">
      <h2 class="heading__text">Что мы предлагаем</h2>
    </div>
    <div class="services__carts">
      <ul class="services__carts-inner">
        <li class="services__item">
          <div class="services__inner">
            <div class="services__img _img">
              <img src="assets/services/cart-1.jpg" alt="Services Cart 1" />
            </div>
            <div class="services__content">
              <div class="services__title heading">
                <h3 class="services__title-heading heading__text-3">
                  Анализ рынка
                </h3>
                <img src="assets/icons/service-icon.png" alt="Service Icon" />
              </div>
              <div class="services__paragraph paragraph">
                <p class="paragraph__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="services__inner">
            <div class="services__img _img">
              <img src="assets/services/cart-2.jpg" alt="Services Cart 1" />
            </div>
            <div class="services__content">
              <div class="services__title heading">
                <h3 class="services__title-heading heading__text-3">
                  Целевая аудитория
                </h3>
                <img src="assets/icons/service-icon.png" alt="Service Icon" />
              </div>
              <div class="services__paragraph paragraph">
                <p class="paragraph__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="services__scroll">
      <div class="services__arrow _img">
        <img src="assets/icons/left.png" alt="Left Arrow" />
      </div>
      <ul class="services__dots">
        <li class="services__dot services__dot_light"></li>
        <li class="services__dot"></li>
        <li class="services__dot"></li>
        <li class="services__dot"></li>
        <li class="services__dot"></li>
      </ul>
      <div class="services__arrow _img">
        <img src="assets/icons/right.png" alt="Right Arrow" />
      </div>
    </div>
  </div>
</div>
