<!-- CALL TO ACTION -->
<div id="action" class="action">
  <div class="action__container _container">
    <div class="action__heading heading heading_margin heading_center">
      <div class="heading__text">Закажите бесплатно</div>
    </div>

    <div class="action__paragraph paragraph">
      <p class="paragraph__text paragraph__text_center">
        Вы ничего не оплачиваете за тестовую первую страницу вашего сайта. Даже
        на тестовой странице мы вкладываемся на все.
        <strong>Заказываем?</strong>
      </p>
    </div>

    <div class="action__action action action_center">
      <a [routerLink]="['/contact-us']" class="action__button">Заказать</a>
    </div>
  </div>
</div>
